<section class="home-section" id="home">
    <div class="container">
        <div class="home-wrapper">
          <h1 class="home-title">Merge Clues. Solve the Mystery.</h1>  
          <p class="home-text">Every merge uncovers a secret, every item tells a story.</p>
          <a class="home-link" href="https://play.google.com/store/apps/details?id=com.archipelago.rubysmystery.android&hl=en&gl=us">
            <img src="/img/home/btn.png" alt="google play" loading="lazy">
          </a>
        </div>        
    </div>
</section>
<section class="about-section" id="about">
    <div class="title-container">
        <h2>About the Game</h2>
    </div>
    <div class="container about-container">
        <h3>Finally, a merge game that's actually about something</h3>
        <p class="about-text">Ruby’s Mystery: A Merge Story connects item merging with storytelling.<br class="mob"/> Players combine objects to reveal new clues,
        restore environments, and move forward through a layered mystery.<br class="mob" /> You're not just mindlessly merging stuff - every move
        actually pushes the story forward.</p>
    </div>
</section>