<section class="home-section" id="home">
    <div class="container">
        <div class="home-wrapper">
          <h1 class="home-title">Merge Clues. Solve the Mystery.</h1>  
          <p class="home-text">Every merge uncovers a secret, every item tells a story.</p>
          <a class="home-link" href="https://play.google.com/store/apps/details?id=com.archipelago.rubysmystery.android&hl=en&gl=us">
            <img src="/img/home/btn.png" alt="google play" loading="lazy">
          </a>
        </div>        
    </div>
</section>