.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 860px;
}
.home-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-title{
font-family: "Asap Condensed", sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 1.1;
    text-align: center;
    background: linear-gradient(180deg, #e8e7f5 0%, #e9e068 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home-text{
    margin-top: 40px;
    font-size: 24px;
    line-height: 1.5;
    color: #e8e7f5;
}
.home-link{
    margin-top: 314px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f7a13d;
        border-radius: 12px;
        width: 240px;
        height: 64px;
box-shadow: 0 2px 4px 0 rgba(233, 224, 104, 0.5);
background: linear-gradient(180deg, #f7a13d 0%, #d97706 100%);
transition: background 0.3s ease-in-out;
}
.home-link:hover{
    background: linear-gradient(180deg, #f7a13d 0%, #e9e068 100%);
}
@media only screen and (min-width: 1440px) {
 .home-section{
    background-image: url("/img/home/desk.png");
height: 964px;
}
.home-wrapper{
    margin-top: 64px;
gap: 48px;
}
.home-text{
    margin-top:0;
font-size: 32px;
}
.home-link{
    margin-top:0;
}   
}
/* About the Game */
.about-container{
    padding-top: 0;
}
.mob {
    display: none;
}
@media only screen and (min-width: 1440px) {
.mob{
    display: block;
}
}
/* How To Play */
.how-list{
    display: flex;
    flex-direction: column;
gap: 32px;
}
.how-item{
    width: 343px;
}
.how-item-title{
    margin-top: 24px;
        color: #b5b3db;
}
.how-item-text{
    margin-top: 8px;
    font-size: 12px;
}
@media only screen and (min-width: 1440px) {
.how-list{
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}
.h4{
width: 530px;
}
.how-item-title{
    margin-top: 24px;
        color: #b5b3db;
}
.how-item-text{
    margin-top: 8px;
    font-size: 12px;
}    
}
/* Features */
.features-section{
    background-image: url("/img/features/mob.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 265px;
    height: 955px;
}
.features-swiper .swiper-slide{
    border-radius: 999px;
        padding: 70px 32px;
        width: 280px;
        height: 280px;
background: #1b1a2b;
display: flex;
flex-direction: column;
align-items: center;
}
.features-slide-title{
margin-top: 32px;
color: #b5b3db;
}
.features-slide-text{
    font-size: 12px;
    margin-top: 16px;
}
@media only screen and (min-width: 1440px) {
 .features-section{
    background-image: url("/img/features/desk.png");
    background-size: 100% 693px;
height: 1291px;
}
.features-swiper .swiper-wrapper{
    justify-content: center;
    gap: 32px;
}
.features-swiper .swiper-slide{
padding: 16px 32px;
    width: 200px;
    height: 200px;
}  
}
/* Characters */
.how-swiper{
    margin-top: 64px;
}
.how-swiper .swiper-slide{
    width: 290px;
        height: 505px;
        display: flex;
        flex-direction: column;
        align-items: center;
}
.characters-slide-title{
    color: #b5b3db;
    border-bottom: 1px solid #636185;
        width: 290px;
        padding-bottom: 16px;
        margin-top: 16px;
}
.characters-slide-text{
    font-size: 12px;
    margin-top: 16px;
}
@media only screen and (min-width: 1440px) {
.how-swiper .swiper-wrapper{
    justify-content: center;
    gap: 32px;
}
 .how-swiper .swiper-slide{
width: 270px;
    height: 495px;
}
.characters-slide-title{
width: 270px;
} 
.desk{
    display: none;
}
}
/* Gallery */
.btn {
    display: none;
}

@media only screen and (min-width: 1440px) {
    .gallery-wrapper {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .gallery-container {
        position: relative;
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
border-radius: 2px;
        background: #f7a13d;
        width: 48px;
        height: 48px;
        border: none;
        transition: box-shadow 0.3s ease-in-out;
    }

    .btn:hover {
box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }

    .gallery-next {
        right: 10%;
    }

    .gallery-prev {
        left: 10%;
    }
}
/* Reviews */
.reviews-list{
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}
.reviews-item{
border: 1px solid #636185;
    border-radius: 12px;
    padding: 16px;
    width: 333px;
    height: auto;
background: #1b1a2b;
display: flex;
flex-direction: column;
gap: 16px;
}
.reviews-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.reviews-item-title{
color: #b5b3db;
}
.reviews-item-text{
font-size: 12px;
text-align: left;
}
@media only screen and (min-width: 1440px) {
 .reviews-list{
flex-direction: row;
justify-content: center;
}
.reviews-item{
width: 190px;
    height: 126px;
    padding: 14px;
}
.reviews-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.reviews-item-title{
color: #b5b3db;
}
.reviews-item-text{
font-size: 12px;
text-align: left;
}   
}
/* FAQ */
.faq-acc {
    display: flex;
    flex-direction: column;
    width: 343px;
    margin: 0 auto;
    gap: 12px;

}

.faq-acc-el {
    position: relative;
    transition: margin-bottom 0.3s ease;

}


.faq-acc-el-title {
    margin-bottom: 0;
}

.faq-acc-el-trigger {
    border: none;
    background: inherit;
    width: 100%;
font-family: "Asap", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.5;
    color: #e8e7f5;
    padding: 8px;
border-bottom: 1px solid #636185;
    margin-bottom: 0;
    cursor: pointer;
    box-sizing: border-box;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}


.faq-acc-arr {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    transition: transform 0.3s ease;
    border: none;
    background-color: inherit;

}

.faq-acc-arr.is-hidden {
    display: none;
}

.faq-acc-el.open .faq-acc-arr {
    transform: rotate(180deg);
}

.faq-acc-el-descr-frame {
    background: inherit;
    overflow: hidden;
    max-height: 0;
    text-align: left;
color: #b5b3db;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease, border-bottom 0.3s ease;
}

.faq-acc-el.js-enabled .faq-acc-el-descr-frame {
    visibility: hidden;
}


.faq-acc-el.open .faq-acc-el-descr-frame {
    visibility: visible;
    opacity: 1;
    border: none;
    background: none;
    text-align: left;
color: #b5b3db;
    padding: 8px;
    max-height: 500px;
}


@media only screen and (min-width: 1440px) {
    .faq-acc {
        width: 790px;
        gap: 40px;
    }

    .faq-acc-el {
        width: 790px;
    }

    .faq-acc-el-trigger {
        padding: 12px 8px;
        width: 790px;
    }
}